.gallery {
  .carousel {
    margin: 0;

    &-item {
      .img-fluid {
        height: 450px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0.9;
      }
    }
  }
}