.header-lists {
  padding: 30px 0;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba($gray-300, 1);
  position: sticky;
  top: 106px;
  z-index: 99;

  h1 {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;
    color: $primary;
  }
  background-image: url("/img/bg-gray.png");
  &.header-lists-frame {
    background-image: url("/img/bg-blue.png");
    color: white;
    h1 {
      color: white;
    }
  }
}
@media screen and (max-width: 767px) {
  .header-lists {
    padding: 20px 0;
    top: 86px;
    h1 {
      color: $secondary;
      font-size: 1.6rem;
    }
  }
}
