.list-of-events-hightlights {
  .card {
    margin-bottom: 30px;
    .card-image {
      height: 220px;
      width: 100%;
      object-fit: cover;
    }
    .card-body {
      height: 200px;
      .card-title {
        margin-bottom: 4px;
        font-weight: 700;
        color: $primary;
        font-size: 1.4rem;
        letter-spacing: -0.02rem;
      }
      .card-date {
        color: $gray-800;
        font-weight: 400;
        font-size: 1.1rem;
        letter-spacing: -0.02rem;
        margin-bottom: 16px;
        span {
          // color: $gray-900;
          text-transform: uppercase;
        }
      }
      // .card-text {
      //   font-size: 1.2rem;
      //   &::first-letter {
      //     text-transform: uppercase;
      //   }
      // }
    }
  }
}
