.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 4px rgba(#000, 0.1);
  font-family: "Univia", sans-serif;
  background: -webkit-linear-gradient(top left, #003fa2, #4ca6de);
  background: -moz-linear-gradient(top left, #003fa2, #4ca6de);
  background: linear-gradient(to bottom right, #003fa2, #4ca6de);
  // background: $brand-primary;
  // background: $brand-secondary;
  .navbar-brand {
    cursor: pointer;
    font-weight: 500;
    width: 160px;
    // background-color: red;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .navbar-toggler {
    padding: 0;
    border: 0px;
  }
  .navbar-nav {
    .dropdown-menu {
      //margin-top: 20px;
      border: 0px;
      //background-color: $gray-100;
      box-shadow: 0 4px 8px rgba(#000, 0.1);
      .dropdown-item {
        text-transform: lowercase;
        &::first-letter {
          text-transform: uppercase;
          font-size: 0.9rem;
        }
      }
    }
    .nav-item {
      text-transform: uppercase;
      padding-left: 8px;
      padding-right: 8px;
    }
    .nav-link {
      font-weight: 400;
      letter-spacing: 0.04rem;
      color: white;
      // font-size: 1.1rem;
      text-transform: lowercase;
    }
  }
  .form-inline {
    //background-color: red;
    // display: flex;
    // align-items: center;
  }
}
