.search {
  display: flex;
  align-items: center;
  input {
    margin-right: 6px;
  }
  button {
  }
}

@media screen and (max-width: 767px) {
  .search {
    // flex-direction: column;
    input {
      // margin-bottom: 8px;
    }
  }
}
